<a href="https://colab.research.google.com/github/HIsu1231/Catholic_University_AI_Senior/blob/main/AI%EC%84%A0%EB%B0%B0_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

df = pd.read_csv('/content/drive/MyDrive/AI선배/AI data/220529_3학년1학기_전처리최종_ai선배_v3.0_노수민.csv', index_col=0)

In [ ]:
df

,출생년도,성별,학부/과코드,제1전공코드,제2전공코드,입학년도,입학구분,전형구분,세부전형정보,동아리,...,공통_영어평균,공통_종교평균,공통_팀플평균,공통_봉사평균,공통_1학년과목평균,label,출신고교_전처리,출신고교지역_전처리,출신고교인덱스,출신고교지역인덱스
0,1974,1,220000014,240000039,240000004,1998,1.0,5,3,0,...,0.00,0.0,0,0,0.00,0,광신고,정보없음,3026,11
1,1973,2,230000016,555555555,666666666,1992,0.0,5,3,0,...,2.50,0.0,0,0,0.00,0,숙명여고,정보없음,390,11
2,1972,2,230000016,555555555,666666666,1992,0.0,5,3,0,...,2.50,0.0,0,0,0.00,0,경기여고,정보없음,764,11
3,1973,2,230000016,555555555,666666666,1992,0.0,5,3,0,...,3.50,0.0,0,0,0.00,0,동덕여고,정보없음,2646,11
4,1978,2,220000005,240000012,240000004,1998,1.0,5,3,0,...,0.00,0.0,0,0,0.00,0,양천여고,정보없음,2170,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36292,2000,2,220000330,230000356,240000004,2018,0.0,2,14,1,...,4.00,4.5,4,4,3.50,0,구암고등학교,서울특별시,407,18
36293,1999,2,220000328,230000349,230000347,2019,0.0,4,28,1,...,3.50,4.5,4,4,4.00,0,제주중앙여자고등학교,제주도,1966,7
36294,1999,2,220000328,230000349,240000004,2019,0.0,12,9,0,...,4.25,4.5,4,4,4.50,0,Nguyen Trai,서울특별시,2357,18
36295,1995,1,220000327,230000342,240000004,2014,0.0,2,5,0,...,2.50,2.5,4,0,3.25,0,강릉고등학교,강원도,2417,5
36296,2000,2,220000330,230000357,230000342,2019,0.0,2,29,1,...,3.00,4.5,2,4,3.50,0,죽변고등학교,경상북도,2869,4

In [ ]:
l = []
for i in range(len(df)):
  if df['년도'][i] == df['입학년도'][i]:
    if (df['학기'][i] == '1학기') or (df['학기'][i] == '2학기'):
      l.append(i)

In [ ]:
len(l)

In [ ]:
df2 = df.loc[l, :]
df2

NameError: ignored

In [ ]:
df3 = df[['성별', '학부/과코드', '제1전공코드', '제2전공코드', '입학구분', '전형구분',
       '세부전형정보', '동아리', '국장유무', '받은국장금액', '국장외 장학금', '국장외장학금 수령금액', '봉사시간',
       '학술활동', '교환학생', '전공성적평균', '교양성적평균', '기타성적평균', '공통_영어평균', '공통_종교평균',
       '공통_팀플평균', '공통_봉사평균', '공통_1학년과목평균', 'label',
       '출신고교인덱스', '출신고교지역인덱스']]

29 , 1

In [ ]:
X_data = df3.drop('label', axis=1)
y_data = df3['label']
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.3, random_state=7)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(27125, 25) (27125,) (11626, 25) (11626,)

In [ ]:
forest = RandomForestClassifier(n_estimators=100)
forest.fit(X_train, y_train)

# y_pred = forest.predict(X_test)
# print(y_pred)
# print(list(y_test))

# print('정확도:',metrics.accuracy_score(y_test, y_pred))

from sklearn import metrics
y_pred = forest.predict(X_test)
print('정확도:',metrics.accuracy_score(y_test, y_pred))
print('precision:', metrics.precision_score(y_test, y_pred))#, average='macro'))
print('recall:', metrics.recall_score(y_test, y_pred))#, average='macro'))
print('f1_score:', metrics.f1_score(y_test, y_pred))#, average='macro'))

정확도: 0.9882160674350593
precision: 0.0
recall: 0.0
f1_score: 0.0

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn import metrics
print('precision:', metrics.precision_score(y_test, y_pred))
print('recall:', metrics.recall_score(y_test, y_pred))
print('f1_score:', metrics.f1_score(y_test, y_pred))

precision: 0.9982181040627227
recall: 0.9996431120628123
f1_score: 0.9989300998573466

In [ ]:
cnt = 0
for i in y_pred:
  if i == 1:
    cnt += 1
print(cnt)

3299

In [ ]:
y_test.shape

(16389,)

In [ ]:
cnt = 0
for i in y_test:
  if i == 1:
    cnt += 1
print(cnt)

2966

In [ ]:
y_test

9121     0
33449    0
632      0
31676    1
652      1
        ..
34683    0
37710    0
17699    0
5847     1
15407    0
Name: 학적상태, Length: 16446, dtype: int64

In [ ]:
(df1['성별코드'] == 1 ) & (df['학적상태'] == 0)

0         True
1        False
2        False
3        False
4        False
         ...
54813     True
54814     True
54815     True
54816    False
54817     True
Name: 성별코드, Length: 54818, dtype: bool