<a href="https://colab.research.google.com/github/HIsu1231/Catholic_University_AI_Senior/blob/main/AI%EC%84%A0%EB%B0%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0. 드라이브 연동

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text

1. 출신고교, 출신고교지역 전처리

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/AI선배/정보없음_0508_v3.csv', index_col=0) #csv파일 불러오기

In [ ]:
df

,년도,학기,생년,성별,학부/과코드,제1전공코드,제2전공코드,학년,이수학기,입학년도,...,교환학생(기간),전공성적평균,교양성적평균,기타성적평균,공통_영어평균,공통_종교평균,공통_팀플평균,공통_봉사평균,공통_1학년과목평균,label
학생구분번호,,,,,,,,,,,,,,,,,,,,,
M000000002,0,편입학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
M000000002,2000,2학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0,3.125000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
M000000002,1998,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0,2.500000,3.350000,0.0,0.0,0.0,0.0,0.0,0.0,0
M000000002,1999,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0,3.300000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0
M000000002,2000,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0,2.100000,2.750000,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M000064917,2019,2학기,1999,1,M220000330,M230000358,M220000416,2,2,2019,...,0,4.000000,3.066667,0.0,3.5,0.0,2.5,0.0,3.5,0
M000059584,2017,1학기,1999,1,M220000328,M230000350,M240000004,2,2,2017,...,0,1.000000,1.250000,0.0,0.0,0.0,1.5,0.0,1.5,0
M000059584,2018,1학기,1999,1,M220000328,M230000350,M240000004,2,2,2017,...,0,0.000000,0.533333,0.0,0.0,0.0,2.5,0.0,0.0,0
M000068327,2021,1학기,2001,2,M220000332,M230000365,M666666666,2,2,2021,...,0,4.333333,3.909091,0.0,0.0,0.0,3.5,0.0,4.5,0
M000068327,2021,2학기,2001,2,M220000332,M230000365,M666666666,2,2,2021,...,0,4.350000,4.000000,0.0,0.0,0.0,3.5,0.0,4.5,0

In [ ]:
df2 = df[['출신고교','출신고교지역']]
high = df2.to_dict()
print(df2)
df2['출신고교'].value_counts()
school_place = df2.set_index('출신고교').T.to_dict('list')

                출신고교 출신고교지역
학생구분번호
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
...              ...    ...
M000064917   광저우한국학교    NaN
M000059584   제물포고등학교  인천광역시
M000059584   제물포고등학교  인천광역시
M000068327  공주여자고등학교   충청남도
M000068327  공주여자고등학교   충청남도

[360188 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """

In [ ]:
#지역별로 가장 많이 나온 학교 찾기
school_region = df.groupby('출신고교지역')['출신고교'].agg(**{'most_common_value':lambda x:x.mode()}).reset_index()
print(school_region.T.to_dict('list'))
print(type(school_region))

{0: ['강원도', '강릉여자고등학교'], 1: ['경기도', '소명여자고등학교'], 2: ['경상남도', '해성고등학교'], 3: ['경상북도', '포항제철고등학교'], 4: ['광주광역시', '광주인성고등학교'], 5: ['대구광역시', '명신여자고등학교'], 6: ['대전광역시', '대덕고등학교'], 7: ['부산광역시', '동래여자고등학교'], 8: ['서울특별시', '진명여자고등학교'], 9: ['세종특별시', array(['THE HIGHSCHOOL ATTACHED TO HARBIN INSTITUTE OF TECHNOLOGY',
       '北大??肇??育?院'], dtype=object)], 10: ['울산광역시', '울산여자고등학교'], 11: ['인천', '교동종합고등학교'], 12: ['인천광역시', '명신여자고등학교'], 13: ['전라남도', '광양제철고등학교'], 14: ['전라북도', '상산고등학교'], 15: ['정보없음', '정보없음'], 16: ['제주도', '신성여자고등학교'], 17: ['충청남도', '복자여자고등학교'], 18: ['충청북도', '제천고등학교'], 19: ['해외', '외국고']}
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df2 = df[['출신고교','출신고교지역']]
pd.set_option('mode.chained_assignment',  None) #경고 메시지 없애기
df2['출신고교지역'] = df2['출신고교지역'].astype(str)

In [ ]:
#출신고교 지역도 
for i in range(len(df2)):
  if df2['출신고교지역'][i] == 'nan':
    df2['출신고교지역'][i] = '정보없음'
print(df2)

                출신고교 출신고교지역
학생구분번호
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
...              ...    ...
M000064917   광저우한국학교   정보없음
M000059584   제물포고등학교  인천광역시
M000059584   제물포고등학교  인천광역시
M000068327  공주여자고등학교   충청남도
M000068327  공주여자고등학교   충청남도

[360188 rows x 2 columns]

In [ ]:
df2['출신고교'] = df2['출신고교'].astype(str) #출신고교 지역이 있으면, 해당 지역에서 최빈값인 출신고교로 값 바꾸기
for i in range(len(df2)):
  if df2['출신고교'][i] == 'nan':
    if df2['출신고교지역'][i] == '강원도':
      df2['출신고교'][i] = '강릉여자고등학교'
    elif df2['출신고교지역'][i] == '경기도':
      df2['출신고교'][i] = '소명여자고등학교'
    elif df2['출신고교지역'][i] == '경상남도':
      df2['출신고교'][i] = '해성고등학교'
    elif df2['출신고교지역'][i] == '경상북도':
      df2['출신고교'][i] = '포항제철고등학교'
    elif df2['출신고교지역'][i] == '광주광역시':
      df2['출신고교'][i] = '광주인성고등학교'
    elif df2['출신고교지역'][i] == '대구광역시':
      df2['출신고교'][i] = '명신여자고등학교'
    elif df2['출신고교지역'][i] == '대전광역시':
      df2['출신고교'][i] = '대덕고등학교'
    elif df2['출신고교지역'][i] == '부산광역시':
      df2['출신고교'][i] = '동래여자고등학교'
    elif df2['출신고교지역'][i] == '서울특별시':
      df2['출신고교'][i] = '진명여자고등학교'
    elif df2['출신고교지역'][i] == '세종특별시':
      df2['출신고교'][i] = 'THE HIGHSCHOOL ATTACHED TO HARBIN INSTITUTE OF TECHNOLOGY'
    elif df2['출신고교지역'][i] == '울산광역시':
      df2['출신고교'][i] = '울산여자고등학교'
    elif df2['출신고교지역'][i] == '인천':
      df2['출신고교'][i] = '교동종합고등학교'
    elif df2['출신고교지역'][i] == '인천광역시':
      df2['출신고교'][i] = '명신여자고등학교'
    elif df2['출신고교지역'][i] == '전라남도':
      df2['출신고교'][i] = '광양제철고등학교'
    elif df2['출신고교지역'][i] == '전라북도':
      df2['출신고교'][i] = '상산고등학교'
    elif df2['출신고교지역'][i] == '제주도':
      df2['출신고교'][i] = '신성여자고등학교'
    elif df2['출신고교지역'][i] == '충청남도':
      df2['출신고교'][i] = '복자여자고등학교'
    elif df2['출신고교지역'][i] == '충청북도':
      df2['출신고교'][i] = '제천고등학교'
    elif df2['출신고교지역'][i] == '해외':
      df2['출신고교'][i] = '외국고'

print(df2)

                출신고교 출신고교지역
학생구분번호
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
M000000002       광신고  서울특별시
...              ...    ...
M000064917   광저우한국학교   정보없음
M000059584   제물포고등학교  인천광역시
M000059584   제물포고등학교  인천광역시
M000068327  공주여자고등학교   충청남도
M000068327  공주여자고등학교   충청남도

[360188 rows x 2 columns]

In [ ]:
df2.to_csv("./df2_정보없음_0508.csv")

In [ ]:
#전처리 한 col 원래 파일에 넣어주기
df['출신고교_전처리'] = df2['출신고교']
df['출신고교지역_전처리'] = df2['출신고교지역']
df

,년도,학기,생년,성별,학부/과코드,제1전공코드,제2전공코드,학년,이수학기,입학년도,...,교양성적평균,기타성적평균,공통_영어평균,공통_종교평균,공통_팀플평균,공통_봉사평균,공통_1학년과목평균,label,출신고교_전처리,출신고교지역_전처리
학생구분번호,,,,,,,,,,,,,,,,,,,,,
M000000002,0,편입학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0,광신고,서울특별시
M000000002,2000,2학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0,광신고,서울특별시
M000000002,1998,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,3.350000,0.0,0.0,0.0,0.0,0.0,0.0,0,광신고,서울특별시
M000000002,1999,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0,광신고,서울특별시
M000000002,2000,1학기,1974,1,M220000014,M240000039,M240000004,4,7,1998,...,2.750000,0.0,0.0,0.0,0.0,0.0,0.0,0,광신고,서울특별시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M000064917,2019,2학기,1999,1,M220000330,M230000358,M220000416,2,2,2019,...,3.066667,0.0,3.5,0.0,2.5,0.0,3.5,0,광저우한국학교,정보없음
M000059584,2017,1학기,1999,1,M220000328,M230000350,M240000004,2,2,2017,...,1.250000,0.0,0.0,0.0,1.5,0.0,1.5,0,제물포고등학교,인천광역시
M000059584,2018,1학기,1999,1,M220000328,M230000350,M240000004,2,2,2017,...,0.533333,0.0,0.0,0.0,2.5,0.0,0.0,0,제물포고등학교,인천광역시
M000068327,2021,1학기,2001,2,M220000332,M230000365,M666666666,2,2,2021,...,3.909091,0.0,0.0,0.0,3.5,0.0,4.5,0,공주여자고등학교,충청남도
M000068327,2021,2학기,2001,2,M220000332,M230000365,M666666666,2,2,2021,...,4.000000,0.0,0.0,0.0,3.5,0.0,4.5,0,공주여자고등학교,충청남도

In [ ]:
df.to_csv("./출신고교_지역_전처리완료_0508.csv")

인덱스 값 주기

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AI선배/출신고교_지역_전처리최종_0508.csv")

In [ ]:
df.columns #columns 출력

Index(['년도', '학기', '생년', '성별', '학부/과코드', '제1전공코드', '제2전공코드', '학년', '이수학기',
       '입학년도', '입학구분', '입학전형구분', '출신고교', '출신고교지역', '신청학점', '이수학점', '평균평점',
       '동아리', '장학금', '봉사활동시간', '학술활동', '교환학생(기간)', '전공성적평균', '교양성적평균',
       '기타성적평균', '공통_영어평균', '공통_종교평균', '공통_팀플평균', '공통_봉사평균', '공통_1학년과목평균',
       'label', '출신고교_전처리', '출신고교지역_전처리'],
      dtype='object')

In [ ]:
l = []
l = df['출신고교_전처리'].values
l = set(l) #set으로 하면 같은 값은 없어짐
l = list(l) #set을 list에 넣어줌
dic_school = {}
for i in range(len(l)): #for 문 사용해서 dic_school 출신고교 인덱스 달아주기
   a = str(l[i])
   dic_school[a] = i + 1

{'안양고등학교', '덕명정보여자고등학교', 'Gledwood House School College', 'Changsha Mingda Middle School', 'Instituto Flores', '태광고등학교', '검정고시(제주)', '건국대학교사범대학부', '김포대학', '예산고등학교', '신명여자고', '청주고등학교', '교동고등학교', '인천중앙여자상업고등학교', '풍문여자고', '담양고등학교', '현대고등학교', '독산고등학교', '고양외국어고등학교', '인천세무고등학교', '제주과학고등학교', '염광여자고등학교', '홍익대학교사범대학부속여자고등학교', '한양대학교', '명덕고', '화봉고등학교', '철광고등학교', '문태고등학교', '선영여자고등학교', '천안대학교', '고흥녹동고', '경남정보대학', '안양여자고', '長崎&#30476;立&#23550;馬高等&#23398;校', '서전고등학교', '순천제일대학', '문정여자고등학교', '용남고', '제주제일고등학교', 'International School of Manila', '삼육간호보건대학', '영주고등학교', '마산무학여자고등학교', 'HANGZHOU XIAOSHAN NO.11 SENIOR HIGH SCHOOL', '개포고등학교', '수내고등학교', '학점은행(대학과정)', '도봉정보산업고등학교', '서서울생활과학고등학교', 'Rio americano high school', '역곡고등학교', '혜원여자고', '강남대학교', '오현고', '성만여자상업고', '수도여자고', '서원고등학교', '양산제일고등학교', '성덕고등학교', '신현고등학교', '화성반월고등학교', '안강여자고등학교', '양명고', '부곡중앙고등학교', '원곡고등학교', '연세대학교(원주)', '양지고등학교', '하남경무직업학교', '대구가톨릭대학교', '분포고등학교', '서울여상고', '언남고', '연천종합고', '서울문화고등학교', '대구남산여자고등학교', '양영디지털고등학교', '우송고등학교', '옥련여자고등학교', '태성고등학교', 'Nguyen Trai High school', '中國石油天然氣管道中學', '배정고등학교', '원주여자고', '염광여자정보산업공업', '장흥실고', '남문고등학교', '설화고등학교', '경주고등학교', '목포여고', '점촌고', '장로회신학대학교', '부광고등학교', '거창대성고등학교', '인천논현고등학교', '북일여자고등학교', '遼寧省東港市第三中學', '신성고', '영양고등학교', '四川省成都市第四十九中學校', '양주고등학교', '서울-고등학교졸업학', '울산고등학교', '온양고등학교', '서강고', '경기자동차과학고등학교', '보람고등학교', '안성여자고등학교', '역전고등학교', '미림여자정보과학고등학교', '동명여자고', '포항중앙고등학교', '마산상업고등학교', '북경한국국제학교', '건국대학교(서울)', '부천여고', '이화여자외국어고등학교', '敦化市??中?', '부천전문고', '진해여자고등학교', '대일여자정보산업고등', '보평고등학교', '정명고등학교', '서초고', '동주대학', '그리스도대학교', '은평고등학교', '영주제일고등학교', '진건고등학교', 'DONG THUY ANH', '송곡관광고등학교', '숭실대학', '목포고등학교', '주천고등학교', 'Tianchang No.3 Middle School', '호곡고등 중학교', 'Concord', '원주고', 'Hillcrest Highschool', '세현고등학교', '수원여고', 'st.patrick catholic school', '여주여종고', '세광고등학교', '중산외국어고등학교', '울산여자고', '감리교신학대학교', '서일대학', '검정(서울)', '부산디자인고등학교', '화정고등학교', 'shandongshengweihai4zhong', '교하고등학교', '부천정보산업고등학교', '병천고등학교', '광명여자고등학교', '부평디자인과학고등학교', '인일여자고', '퇴계원고', '서울여자대학교', '신천고등학교', '극동정보대학', '당진상업고등학교', '미림여자전산공업고등', 'Shenyang private diocesan middle school', '관동대학교', '자양고등학교', '삼척여자고', '여량고등학교', '양양고등학교', '비봉고등학교', '배화여자전문대학', '신목고', '와룡고등학교', 'FUSHUN LEIFENG SENIOR HIGH SCHOOL', '송산고등학교', '대림대학', '진부고', '성덕여자상업고등학교', '풍문고등학교', '수원과학대학', '가락고', '휘문고등학교', '인화여고', '成都市三原外國語學校', '저현고등학교', '성암여자상업고등학교', '장안대학', '청송고등학교', '하동여자고등학교', '부산중앙여자고', 'Los Angeles High School', '대전가오고등학교', '곡정고등학교', '성동고', '영화국제관광고등학교', '경상대학', '상문고등학교', '상계고등학교', '학남고등학교', '영신고등학교', '동덕여자대학', '신림고', 'International School of Myanmar', '강원고', '면목고', '창문여자고', '이천양정여자종합고', '경복여자고', '연수여자고등학교', '삼척고', '양재고', '목포해양대학교', '서경대학교', '화곡여자정보산업고등학교', '邵&#38451;市第四中&#23398;', '구정고', '명지여자고', '영동일고등학교', '무학여자고등학교', 'Middle School of Jiaozuo No.4', '서울다솜관광고등학교', '혜명고등중학교', '대신고', '고성고등학교', 'Santo Domingo de Guzman', '삼현여자고등학교', '인일여고', '한세대학교', '빈국립음대', '소산제일직업중등학교', 'ICHTHUS school', '창원여자고등학교', '대화고등학교', '송탄여고', '가천길대학', '천안공업고등학교', '수원간호고등학교', '영등포고등학교부설방송통신고등학교', '강원-고등학교졸업자격검정고시', '대일외고', 'Qingyuan Shengxing Chinese and English School', '제주여자고', '임실고등학교', '경안고', '청북고등학교', 'Junction City High School', '울산중앙여자고', 'Yunan Xijiang Senior High School', '왕청현왕청제이중학', '불암고등학교', '上海市藥劑學校', '명지외국어고등학교', '광주중앙여자고', '경성고', '경문고', 'Pingdingshan No.1 Senior High School', '서울맹학교', '숙명여자고등학교', '안화고등학교', '명석고등학교', '수원공업고등학교', '울산스포츠과학고등학교', '다사고등학교', '동인천고', '해성여자상업고등학교', '시흥능곡고등학교', '광운대학교', '수지고등학교', '음성고등학교', '봉황고등학교', '세종대학교', '설악고등학교', '경성고등학교', '천안제일고등학교', '광명여자고', '단국대학교사범대학부', '창원남고등학교', '근명여자정보고등학교', '대구예술대학교', '전남외국어고', '이천제일고등학교', '四川省簡陽中學', '광저우한국학교', '덕성여고', '해강고등학교', '순천고등학교', '현대여자고등학교', 'Mian Zhong Experimental School', '대산고등학교', '전북정읍호남고', '고양국제고등학교', '성지여고', '계산여자고등학교', '문영여자고', '산마을고등학교', '이병시 영걸실험외국어학교', '명지대학', '상명사대부속여자고', 'Mahendra Secondary School, Pokhara, Kaski', '충현고등학교', '발곡고등학교', '잠실여자고', '동아방송대학', '순천효천고등학교', '소명여고', '선정관광고등학교', '청주외국어고등학교', 'Colstrip High School', 'Qingyuan No.2 Middle School', '용호고등학교', 'Rancho Cucamonga High School', '성심여자고등학교', '현풍고등학교', '인천중앙여자상업고등', '울산-고등학교졸업학', '인헌고', '함백종합고등학교', '성창여자고등학교', '수원외국어고등학교', '한일고등학교', '김해영운고등학교', 'carrollton christian academy', '순천고', '신광여자고', '운정고등학교', '목포혜인여자고등학교', '부용고등학교', '청량고등학교', '중국산동 중의약대', '장안전문대학', '호남제일여자고등학교', '성의고등학교', '정석항공과학고등학교', '곤지암고등학교', '태원시 신흥 고등학교', '신경여자상업고등학교', '금산고', '경북-고등학교졸업자격검정고시', 'RamkhamhaengAdventInternationalSchool', '명일여고', '여천고등학교', '중대부여고', '이리남성여자고등학교', '미추홀외국어고등학교', '서울대학교사범대학부설고등학교', '오류고등학교', '해운대고등학교', '고려대학교 병설 보', '동국대학교', '고잔고등학교', '안산1대학', '경산고등학교', '충북여자고등학교', '금정고등학교', '초당대', '남원여자고등학교', '건국대학교', '덕원여자고', 'Liaoxi Yuming Senior High School', '고려대 병설 보건대', '공항고등학교', '서운고등학교', 'Pukekohe high school', '대일고등학교', '선부고등학교', '인천연송고등학교', '고양예술고등학교', '오천고등학교', '동덕여자고', '재능대학', '한국방송통신대학교', '대전실업전문대학', '오산대학', '경민정보산업공업고등', '本溪市第二高?中?', '송곡여자고등학교', '충주산업대학', '충남외국어고등학교', '인천가톨릭대학교', 'PHA LAI', '동명생활경영고등학교', '백석고', '동우전문대학', '경북예술고등학교', '신도림고등학교', '김천고등학교', '상지영서대학', '계남고', 'Guangzhou Siyuan North Campus', '이화여자대학', '유한대학', '충원고등학교', '대구-고등학교졸업학', '금산여자고등학교', '영천성남여자고등학교', '성문여자고등학교', '화홍고등학교', '제주중앙고등학교', '배화여자전문', '영월고등학교', '온수고', '울산대학교', '남목고등학교', '계성여고', '군산여자고등학교', '신성고등학교', '가락고등학교', '문산종고', '부천전문', '충주산업대학교', '대원고', '영란여상고', '상지전문대학', '전주대학교', '서경대학', '양현고등학교', '성결대학', '마산중앙고등학교', '충남-고등학교졸업자', '대구남산여고', '단원고등학교', '성일정보고등학교', '제주한라대학', 'Zhaoqing Foreign Language School attached to Guangdong Unive', '국립한경대학교', '상명사대부여고', 'Vientiane International School', '파주여자종합고등학교', '목포여자고등학교', '동주여자상업고등학교', '용성시광명고등학교', '외국고등학교', '광주고등학교', '부천공업고등학교', '순천향대학교', '위례상고', '전남-고등학교졸업학', '충칭시 제7중학교', '마송고등학교', '안동여자고', '옥과고등학교', '포항여고', '하남교통직업기술학교', '장성여자상업고등학교', '성환고', '계원예술고', '창명여자종합고등학교', '세종과학고등학교', '군산여자고', '후포고등학교', '중국상해한국학교', '경남-고등학교졸업학', '장훈고', '한밭고등학교', 'First Baptist School', '인하대사대부고', '명덕여고', '명성여자고교', 'Panjin Liaohe Oilfield NO.3 high School', '점촌고등학교', '大良高中', '안산디자인문화고등학교', '성신여자고등학교', '현대청운고등학교', '제주대학', '양동고등학교', '황간고등학교', '덕수상고', '삼육의명대학', '상명대학교사범대학부', '조장시 제1고등학교', '춘천여자고등학교', '부산-고등학교졸업자격검정고시', '성남고등학교', '외국고', '청주과학대학', '광천고등학교', '군포중앙고등학교', '경희여고', '제주-고등학교졸업자격검정고시', '삼괴종고', '나주여자고등학교', 'Chengdu Aerospace Middle School', '종촌고등학교', '서울여자상업고', '전남여자상업고등학교', '경동고등학교', '원광여상고', '삽교고등학교', 'King‘s Egehill School', '성남외국어고등학교', '성신여고', '대전구봉고등학교', '일산동고등학교', '계양고등학교', '이리여자고등학교', '김해삼문고등학교', '대전복수고등학교', '청심국제고등학교', '한국관광고등학교', '상주고등학교', 'Puning New World international School', '동북고등학교', '인천여자고등학교', '명지전문대', '부평고등학교', '충암고', '리라공업고등학교', 'GUANGZHOU JUDICIAL SCHOOL', '충청대학', '안양여고', '고려고등학교', '호남제일고등학교', '남성고', '고림고등학교', '벽성고등학교', '안산여자정보고등학교', '분당영덕여자고등학교', '남서울 대학', '이화여자외국어고', '신갈고등학교', '부산진여자고등학교', '서울삼육고등학교', '진해세화여자고등학교', '화곡여자정보산업고등', '영남신학대학교', '부산계성여자상업고', '부산산업과학고등학교', '통영여자고등학교', '정선여고', '신구대학교', '예당고등학교', '백영고등학교', '우송대학교', 'MAZ Intenational School', '중대부고', '삼척고등학교', '경복여자정보산업고', '동지여자고등학교', '강일여자고등학교', '청강문화산업대학', '정명여자상업고등학교', '조선이공대학', 'Oxford High School', '경기체육고등학교', '동일여자전산디자인고', '포항예술고등학교', '문영여자', '재현고등학교', '영파여자고', '대구효성가톨릭대학', '대전과학고등학교', '군산대학', '영진고등학교', '광영여고', '자카르타한국국제학교', '가정고등학교', '한양여자대학', '제일고등학교', '명신고등학교', '덕소고등학교', '인천초은고등학교', 'SHENZHEN OXSTAND INTERNATIONAL  SCHOOL', '대전괴정고등학교', '서울-고등학교졸업학력검정고시', '이화여자고', '광동고등학교', '신라대학', '명성여자고', '경인여자대학', '한양공업고등학교', '치악고등학교', 'YIXIANXUBOGAOJIZHONGXUE', 'NARAN HIGH SCHOOL', '국제디지털대학교', '대련한국국제', '신흥대학', '창원토월고등학교', '하나고등학교', '세명컴퓨터고등학교', '서울대학교사범대학부', '금산고등학교', '현일고등학교', '강원사대부속고', '봉명고등학교', '한서고', '선정고', '대천여고', '가재울고등학교', '영동고', '대덕고등학교', '강남영상미디어고등학교', 'Haibin Nangang High School', '運城市康杰中學', '경남예술고등학교', '한국애니메이션고등학교', '서현고', '포산고등학교', '부산동고등학교', '정명고', '신탄진고등학교', '여수충무고등학교', '삼평고등학교', 'siliqingdaohaishanxuexiao', '연길시현대직업기술학교', '평촌정보산업고등학교', '충북예술고등학교', '충암고등학교', '전주예술고등학교', '풍문여자고등학교', '구리고등학교', '고려대학교병설보건대', '한국게임과학고등학교', '호남고등학교', '예림디자인고등학교', '효성고등학교', '서울신학대학교', '용문고등학교', '두호고등학교', '성남서고등학교', '인천예일고등학교', '석관고등학교', '보인고등학교', '광운전자공업고등학교', 'Guangzhou Medical Vocational School', '초당고등학교', '오산고', '本溪市第四高?中?', '경화여자e비즈니스고등학교', '나주공업고등학교', '서라벌고', 'Kunshan Economic & Technical Development Zone International', '인천인일여고', '완도고등학교', '일신여자고', '울산여자고등학교', 'Affiliated Middle School of Henan Normal University', '한인고등학교', '합덕여자고등학교', '울산-고등학교졸업학력검정고시', '인덕대학교', '대전대학', '박문여고', '부천북', '대성여자상업고등학교', '大?市第二十五中?', 'Trung hoc pho thong hong quang', '인천외국어고등학교', '세일고등학교', '경일대학교', '성서고등학교', '분당중앙고등학교', '창원사파고등학교', '한일여자고등학교', '영화여자상업고등학교', '전주영생고등학교', '전북대학교사범대학부', '고려대학교(서울)', '경기고등학교', '부평여자상업고', '광영고', '도계고등학교', 'Xining City No.3 Middle School', '구암고등학교', '동국사대부속고', '조선대여고', '초당대학교', '공주대학교사범대학부', '서귀포여고', '진위상고', '수도여고', '전주고등학교', '신정여상고', 'HARBINSHIPPINGSCHOOL', '광문고', '부평공업고등학교', '군산영광여고', '인천여자고', '인일여자고등학교', '경상고등학교', '영해여자상업고등학교', '충청북도지구 합격', '문창고', '범박고등학교', '동래여자고등학교', '상명사대부속고', '호서고', '단국대학교사범대학부속고등학교', '동인천고등학교', '휘봉고등학교', '동탄국제고등학교', '평촌고', '효성여상고', 'EIB-The Victor Hugo School', '밀성고등학교', '선화예고', '하남경영고등학교', '태전고등학교', '삼량종합고등학교', '대원외국어고', 'GUANGZHOU SIYUAN SCHOOL', '사내고', '동명여고', '양산남부고등학교', '대구상원고등학교', '의정부고등학교', '공주영명고등학교', 'Shenyang No. 1 Private Senior High School', 'JILIN CITY NO.1 HIGH SCHOOL', 'SHENGXING CHINESE AND ENGLISH SCHOOL.QINGYUAN', '時代高中', '광주진흥고등학교', '대홍단5호 고등중학교', '덕수정보산업고', '부산관광고등학교', '용암고등중학교', '고색고등학교', '전주근영여자고등학교', '인천기계공업고', '산본고등학교', '동덕여자고등학교', '정읍여자고등학교', '대원여고', '대진고', '경복여상고', '선주고등학교', 'Pioneer Junior College', '운암고등학교', '금오공업고등학교', '성심여자대학교', '덕신고등학교', '오송고등학교', '복자여고', '이리공업고등학교', 'Suizhou shi di yi zhong xue', 'Pentagon International school', '운양고등학교', '지산고등학교', 'Guangzhou judicial vocational school', '도초고등학교', '천안고', '안산국제비즈니스고등학교', '대전고', '대광고', '마산제일고등학교', '인천재능대학', 'GANGYUANZHONGXUE', '숭문고', '남녕고', '강원도 금강군 속사리 속사중학교', '인창고등학교', '덕원고등학교', '청석고등학교', '김천여자고등학교', '명덕외고', '숭의고등학교', 'Burnaby Mountain Secondary School', '덕원여고', '압구정고등학교', '동호정보고등학교', '선문대학교', '서대전고등학교', '백송고등학교', '대부종합고등학교', '항성시정태보문학교', '용산고등학교', '범서고등학교', '경기모바일과학고등학교', '군산중앙여자고등학교', '영덕여자고등학교', '이화여자대학교사범대학부속이화금란고등학교', 'TRUNG HOC PHO THONG VINH LOC', '혜원여고', '용인한국외국어대학교부설고등학교', '삼광고등학교', '봉평고등학교', '신광여자고등학교', 'Shanghai United Bilingual High School', '창현고등학교', '연길시 제2고급중학교', '서문여자고', '정원고등학교', '천천고등학교', '문일여자고등학교', '대전-고등학교졸업자격검정고시', '매원고등학교', 'CHENGDU YULIN HIGH SCHOOL SHIYANG CAMPUS', '신일비즈니스고등학교', 'Gloucester High School', '대아고등학교', 'THPT Thuy Son', '남강고등학교', '우신고', '국립의료원간호대학', '河北省承德市圍場縣卉原中學', '신남고등학교', '동두천중앙종합고등학', '군산동고등학교', '한국철도대학', '목천고등학교', '쌔들리버데이스쿨', '명지전문대학', '이충고등학교', '협성대학교', 'Chengdu Summit International School', '경북외국어고등학교', '부여고등학교', '인동고등학교', '송도고등학교', '나사렛대학', '서울세종고', 'Qingdao Chungwoon Korean School', '한별고등학교', '대명여고', '고양실업고등학교(2년제)', '영송여자고등학교', 'MY DUC B high school', '부천대', '남서울대학교', '선정고등학교', '예일여자고', '신명여고', '보문고등학교', '살레시오고등학교', '송곡고', '대전지족고등학교', '國立華僑實驗高級中學', '여주고등학교', '상모고등학교', 'Suva Christian Community High School', '봉의고등학교', '인하대학교', 'Antu County Np.1 Senior High School', '백석고등학교', 'Sichuan city Technician College', '영신여자고등학교', '양곡종합고등학교', '온양용화고등학교', '경북여자고등학교', '청송여종고', '해성국제컨벤션고등학교', 'Christchurch Boys High School', '충주중산고등학교', '영등포여상고', '인천지구 합격', 'Qingyuan No.1 Senior High School', 'Peking university affiliated experimental school Fushun heng', 'Changsha Yiya Middle School', '함평고등학교', '대구가톨릭대학교사범', '환일고등학교', '산서고등학교', '쌘뽈여고', 'Jiaozhou Experimental Middle School', '강원대학', '안산전문대', '제천고', '인천진산과학고등학교', '배재고등학교', '대덕고', '목포대학', '신진과학기술고등학교', '비전고등학교', '신철원종고', '大??立高中', '가운고등학교', '서울디자인고등학교', '해룡고', '진위고등학교', '광명경영회계고등학교', '반포고등학교', '한양대학교(안산)', 'DAO DUY TU', 'Hangzhou Xiaoshan No.2 Secondary Vocational School', '경산대학교', '충훈고등학교', '동산고', '대전여자고등학교부설', '이대부고', '용문종합고등학교', '장항고등학교', '부산강서고등학교', '부산-고등학교졸업학력검정고시', '보성여고', '정의여자고등학교', '한서대학교', '우성고등학교', '수원정보산업공업고등', '한겨레고등학교', '경남고등학교', '동우여고', '부산동성고등학교', '무학고등학교', '김화고등학교', '호원대학교', '과천여고', '학다리고등학교', '효자고등학교', '대진디자인고등학교', '은광여자고', 'GUANGDONG JIANGMEN CHINESE MEDICAL SCHOOL', '경기경영고등학교', '충무고등학교', 'Taizhou city Jiangyan District Xinshiji Wushu Art School', '광영여자고등학교', '한영외국어고등학교', '부산외국어고등학교', '선일여고', '돌마고등학교', '숭주시 숭경고등학교', '김해중앙여자고등학교', 'International Gateway Academy', '광주제일고등학교', '광성고', '울산제일고등학교', '검정(전남)', 'KINH MON', '무룡고등학교', '간디학교', '양서고등학교', '용인고', '진안제일고등학교', '군자공업고등학교', '구리여고', '산남고등학교', '대전동산고등학교', '충렬여자상업고', '서울-고등학교졸업자격검정고시', '춘천여자고', '운천고등학교', '안계고등학교', '한가람고등학교', '잠실고등학교', '공주고등학교', '양재고등학교', '대영고등학교', '방송대학', '경동대학교', '성지여자고등학교', '오산덕고등중학교', '거제옥포고등학교', 'Wichita Collegiate School', 'chongqing furen middle school', '안양공업고등학교', '순창제일고등학교', '동아고등학교', '중국 장춘시11고등학교', 'daliankaifaqudibagaojizhongxue', '동해대학교', '인하공업전문대', '충주고등학교', '정의여고', '한양여자대학교', '부흥고', '제주제일고', 'HANGZHOU XIAOSHAN NO.1 SECONDARY VOCATIONAL SCHOOL', '영생고등학교', '서울예술대학', '이화여자대학교병설금', '일본 철로북 고교', '사직고등학교', '대련풍엽국제학교', '울산외국어고등학교', '명지고등학교', '서산여자고등학교', '정선고등학교', '동일여자전산상업고', '인천효성고등학교', '서대전여자고등학교', '반송고등학교', 'Bayridge Secondary School', '대구공업고', '하양여자고등학교', '인하공업전문대학', '숙명여고', '용화여고', '계성여자고등학교', '山西省晋城市第一中&#23398;校', '진명여자고등학교', '숙지고등학교', '잠실여고', '서초고등학교', '한양여대', '광남고', 'International School of Prague', '강서고등학교', '홍익대학교사범대학부', '인천예술고등학교', '경북대학교사범대학부설고등학교', '예천여자고등학교', '이매고등학교', '중앙여고', '동백고등학교', '조종종합고', '방산고등학교', '대경상업고등학교', '서서울정보산업고', '황지여자상업고등학교', '문성여자상업고등학교', '경북대학교', '부산외국어대학교', '한국외국어대학교(용', '노화고', '이대부속고', '수주고등학교', '함현고등학교', '청명고등학교', '경희고등학교', '부여고', '동해광희고등학교', '안양과학대학', '분당고등학교', '김해수남고등학교', 'Faith Christian Academy', '중앙여자고', '동양대학', '상주대학교', '한독문화여자고등학교', '서울보건대학', '경기상업고', 'No.3 Middle School of Keerqin District, Tongliao City', '백산고등학교', '삼성여고', '부천여자고등학교', '전남-고등학교졸업자', 'THPT LY NHAN TONG', '광성고등학교', '덕암고등학교', '통영고등학교', '시립인천전문대학', 'jia xing shi xiushui specialized secondary school', '남양고등학교', 'FUYANGDISHIZHONGXUE', '경신고', '부평여자고등학교', '소명여자고등학교', '대구상업고등학교', '고대병설보건전문', 'Guangzhou pharmaceutical vocational school', '합포고등학교', '상명여자고', '광주보건대학', '조종고등학교', '상문고', '포항제철공업고', 'christian legacy academy', '목포정명여자고등학교', '선유고등학교', '안양여자상업고등학교', '광주수피아여고', '영남삼육고등학교', '양천여자고등학교', '홍성고등학교', '동양공업전문학교', '인헌고등학교', '정화여자상업고', '경기영상과학고등학교', '인천마전고등학교', '천안여자고등학교', '전주전라고', '상록고등학교', '건국대학교사범대학부속고등학교', 'Oakridge Secondary School', 'GuangZhou XieHe Middle School', '호계고등학교', '문창고등학교', '동원대학', '명일여자고등학교', '미래산업과학고등학교', '봉담고등학교', '송원여자고등학교', '지리산고등학교', '부산마케팅고등학교', '고양여자고등학교', '상당고등학교', '경민여자상업고등학교', '영광고', '중화고', '영락고등학교', '장흥고등학교', '경동고', '송우고등학교', '함백고등학교', '동두천중앙고등학교', '충렬고등학교', '궁심고등중학교', '북한 연두봉고급중학교', '단국대학', '경희경영전문대학', '배화여자고', '삼육대학교', '산청고등학교', '삼천포중앙고등학교', '성덕여자상업고', '부일외국어고등학교', '금옥여자고', 'Sichuan Leshan No.1 High School', '신경여자실업고등학교', '인하공업전문', '경민여상고', '의정부여자고등학교', '북평여자고등학교', '중동고', 'TRAN HUNG DAO', '가야대학교', '부광여자고', '퇴계원고등학교', '인천미래생활고등학교', 'American International School Cape Town', 'Shizucka Prefectural Shimizu Higashi High School', '인항고등학교', '용암포고등학교', '센다이 대학교', '하남고등학교', '필리핀한국국제학교', 'Jiaozuo City No.11 Middle School', '유한전문대학', 'mudanjiangshi disan gaoji zhongxue', '영생고', '사북고등학교', '서울지구 합격', '천안고등학교', '배화여고', '한국방송통신대학', '파주여자고등학교', '인천청라고등학교', '동신고등학교', '정주고등학교', '철원고등학교', '밀양여자고등학교', '수원여자고', '세화고등학교', '해성여자고등학교', '우송정보대학', '조선대학교여자고등학교', '양명여고', '미림여고', '마산내서여자고등학교', '인천국제고등학교', 'St. VIncent de paul High School', '영흥고', '수원고', '신정여자상업고', '관양고등학교', '구미여자고등학교', '전주공업전문대', '건대부속고', '여주제일고등학교', '안산공과대학', '四川省內江市第一中學', '강동고등학교', '중산고등학교', '서강고등학교', '간디고등학교', '대전중앙고등학교', '누원고등학교', '화천정보산업고등학교', '부안고등학교', '서울사대부속고', '혜화여자고', '문성고등학교', '한영고', '山東省泗水第一中學', '효양고등학교', '양청고등학교', '선린인터넷고등학교', '위덕대학교', '내성고등학교', '동지여자상업고등학교', '함안고등학교', '관악여자상업고등학교', '양업고등학교', '대구고등학교', '학성고', '이화여자대학교병설미', '양산대학', '언양고등학교', '괴산고등학교', '속초여고', '인천-고등학교졸업자격검정고시', 'YEN DUNG NO.2 HIGH SCHOOL', '울산경의고등학교', '서서울생활과학고등학', '낙동고등학교', 'Irvine High School', 'Guangdong Experimental Yuexiu School', '세명대학교', 'walnut high school', '부평여자고', '성남고', '화요일아침예술학교', '영등포여자상업고등학', '상일미디어고등학교', '여수중앙여고', '울산강남고등학교', 'Shenyang Gongqingtuan Experimental High School', '동아대', '서야고등학교', '소래종합고', '하남성 교통직업기술학교', '덕수상업고', 'Jiaxing City Xiushui Specialized Secondary School', '영남대', '인하전문대학', 'Trung tam GDTX Nam Sach', '동양공업전문대학', '인천시립대학', '제주여자고등학교', '여주대학', '언남고등학교', '경기예술고등학교', 'DIEN CHAU 3', '중부대학교', '하노이 한국 국제 학교', '상지대학', '제주산업정보대학', '부천북고교', 'Maria Am&ampaacute;lia Vaz de Carvalho', '대구미래대학교', '정화여자고등학교', '신일여상고', 'Algonquin', '延?大?', '성보고등학교', '포천고등학교', '부명정보산업고등학교', '대진고등학교', '오산고등학교', '제천여고', '전자공학과', '인제고', '한경대학', '대곡고등학교', '남지고등학교', 'R.E. Mountain Secondary School', '경기전문대학', '부광여고', '마산용마고등학교', '동인고등학교', '영파여자고등학교', '경원전문', '부산중앙여자고등학교', '신진자동차고등학교', '분당대진고등학교', '서울고등고', '한광여자고', '서울금옥여고', '북원여자고등학교', '군포e비즈니스고등학교', '가천길대', '독학사', '영암여자고등학교', '선덕고등학교', '강원대학교사범대학', '강경고등학교', '송곡여고', '천안외국어전문대', '덕적고등학교', '성문여고', '영흥고등학교', '외국고교 출신자', 'Hangzhou Xiaoshan  No.2 Secondary Vocational School', '광주상업고등학교', '인하대학', '군산대학교', '마포고등학교', '청덕여고', '위례한빛고등학교', '덕신고', '다대고등학교', '금명여자고등학교', '독학사(대학과정)', '광주대동고등학교', 'Hangzhou Xiaoshan No.1 Secondary Voctional School', '송곡고등학교', '부평여고', '경화여자고등학교', '군산영광여자고등학교', '예일여자실업고등학교', '선명여자상업고', '초월고등학교', '한신대학교', '아주대학교', '삼성고등학교', '수택고등학교', '덕수정보산업고등학교', '유봉여고', '유성고등학교', '대동세무고등학교', '김제농생명마이스터고등학교', 'Yanbian No.1 Senior High School', 'Chengdu Electronic Informatiom School', '선산고등학교', '신광여고', '명신여자상업고등학교', '소래고', '동구마케팅고등학교', '데레사여자고등학교', '양산고등학교', '애월고등학교', '청주기계공업고등학교', '전곡고등학교', '과천고등학교', '우석여자고등학교', '칠원고등학교', '대흥고등학교', 'Tashkent International School', '숭신여자고등학교', '오현고등학교', '안법고등학교', '평택대학', '화곡여자정보산업고', '일조 제1고등학교', '분당정보산업고등학교', '인천고', '이사벨고등학교', '한신대학', '서산고등학교', '서인천고', '세원고', 'DALIAN QIANCHENG SENIOR HIGH SCHOOL', '원통고등학교', '의정부여자고', '군포고등학교', '춘천실업고등학교', '계남고등학교', '경기여자상업고등학교', '이화여대사범대학부속', 'R.E MOUNTAIN SECONDARY SCHOOL', 'HeilongjiangAppliedVocationalSchool', '외국고교출신자', '광문고등학교', '마산여자고', 'BENXI NO.2 SENIOR HIGH SCHOOL', '동아대학교', '부천시온고', '동덕여자대학교', '울산과학대학', '거제제일고등학교', '대전보건전문대학', '대전-고등학교졸업학', '자공시제1중학교', '창의고등학교', '서울대학교', '우신고등학교', '전주여자고등학교', '상명고등학교', '四川省內江市第二中學', '안중종합고등학교', '신일고', '四川省樂山第一中學校', 'BEIJINGSHIDIWUSHIZHONGXUEFENXIAO', '옥천고등학교', '부산국제외국어고등학교', '대성여자고등학교', '대전보건대', '보정고등학교', '한세대학', '횡성여자고등학교', '과천여자고등학교', '연평고등학교', '송탄여자고등학교', '화수고등학교', 'Guangzhou Pharmaceutical Vocational School', '서울여고', '안동중앙고등학교', '전북대학', '성지고등학교', 'GHADIR HIGH SCHOOL', '경상대학대학원', '충북대학교사범대학부설고등학교', '천안대학', '광양제철고등학교', '제주외국어고등학교', 'Korean International School In Qingdao', '거제중앙고등학교', '동국대학교(경주)', '명덕여자고등학교', '成都市鐵路中學校', '경산과학고등학교', 'OSH REGION HIGH SCHOOL', '이리고등학교', '광주숭일고', '광주여자상업고등학교', '장수고등학교', '순심여자고등학교', '이화여고', '대진대학교', '서해고등학교', '속초고', '대전둔산여자고등학교', '군산고등학교', '홍익사대부속여고', '서남대학', '중앙사대부속고', '성심여자대학교(가톨', '동북고', '예일여자실업고', '대전외국어고등학교', '경남과학고등학교', 'Washington', '영천여자고등학교', '예원대학교', 'Camberwell High', '수원경성고등학교', '상산고등학교', '풍운여고', '상일여자고등학교', '포천일고등학교', 'NANHAI EXPERIMENTAL HIGH SCHOOL,THE AFFILIATED HIGH SCHOOL OF SOUTH CHINA NORMAL UNIVERSITY', '익산고등학교', '장흥관산고', '배화여자대학교', '영남이공대학', '상명대부속여고', '군산제일고', '한림여자실업고등학교', '영광여자고', '선문대학', '경상대학교사범대학부설고등학교', '대전보건전문대', '동남고등학교', '정자고등학교', '안양예술고등학교', '도개고등학교', '인천중앙여자상업고', '안양대학교', '청구고등학교', '서일고등학교', '덕문여자고등학교', 'QUOC OAI high school', '진천고등학교', '인천고잔고등학교', '인천대건고', '이서고등학교', '서울-고등학교졸업자', '덕계고등학교', '서현고등학교', '은혜고등학교', '고양동산고등학교', 'Oxstand Internatinonal School', '태안고등학교', '신동신정보산업고등학', '부평고', '전남대학교사범대학부설고등학교', '한국방송통신대', '창원명지여자고등학교', '여수고등학교', '구로고등학교', '북일고등학교', '명덕여자고', '벌교고등학교', '인천부흥고등학교', '신장고등학교', '한양여자고', '금호고등학교', '미양고등학교', '광주동신여자고등학교', '경복고등학교부설방송', '충주대원고등학교', '매괴여자상업고등학교', '전인고등학교', '부산기계공업고등학교', '정읍여자고', '안양여자고등학교', '청주여자상업고등학교', '양정여종고', '잘못입력함', '청량고', '삼성고', '포항고등학교', '부천대학', 'Guangzhou Siyuan school', '유한공업고등학교', '국제고등학교', 'Yanji international cooperation technical school', '전라고등학교', '일신여자상업고등학교', '인덕원고등학교', '강원과학고', 'Hosoda High School', '성남여고', '인천전문대학', '벌교상업고', '안면고등학교', '대전예술고등학교', '협성대학', '월계고등학교', '검정(강원)', '성광고등학교', '중앙여상고', '도농고등학교', 'tangshanshidi27zhongxue', '공주영상정보대학', '인천박문여자고', '가천길대학교', 'Somerville House', '안동대학교', '명덕외국어고', '한광여자고등학교', '안산상업고등학교', 'shichuanshenyantingxianjinkongzhongxue', '동명여자정보산업고등학교', '학력인정 목포제일정보고등학교', '대명여자고등학교', '許昌縣第一高級中學', '인천진산고등학교', '밀양동명고등학교', '충남예술고등학교', '현경고등학교', '춘천고등학교', '안성여자기능대학', 'Mianyang Nanshan Experimental High  School', '중부대학', '인천해양과학고등학교', '도봉고등학교', '원주여자고등학교', '충주여자고등학교', '선화여자상업고', '공주금성여자고등학교', '대구서부고등학교', '극동대학교', '혜천대학', '요녕성 영구시 조선족고중', 'saint-denis', '동국대학교사범대학부속영석고등학교', '서울공업', '전북여자고등학교', '

In [ ]:
dic = {}
for i in range(len(l)):
   a = str(l[i])
   dic[a] = i + 1
dic

{'안양고등학교': 1,
 '덕명정보여자고등학교': 2,
 'Gledwood House School College': 3,
 'Changsha Mingda Middle School': 4,
 'Instituto Flores': 5,
 '태광고등학교': 6,
 '검정고시(제주)': 7,
 '건국대학교사범대학부': 8,
 '김포대학': 9,
 '예산고등학교': 10,
 '신명여자고': 11,
 '청주고등학교': 12,
 '교동고등학교': 13,
 '인천중앙여자상업고등학교': 14,
 '풍문여자고': 15,
 '담양고등학교': 16,
 '현대고등학교': 17,
 '독산고등학교': 18,
 '고양외국어고등학교': 19,
 '인천세무고등학교': 20,
 '제주과학고등학교': 21,
 '염광여자고등학교': 22,
 '홍익대학교사범대학부속여자고등학교': 23,
 '한양대학교': 24,
 '명덕고': 25,
 '화봉고등학교': 26,
 '철광고등학교': 27,
 '문태고등학교': 28,
 '선영여자고등학교': 29,
 '천안대학교': 30,
 '고흥녹동고': 31,
 '경남정보대학': 32,
 '안양여자고': 33,
 '長崎&#30476;立&#23550;馬高等&#23398;校': 34,
 '서전고등학교': 35,
 '순천제일대학': 36,
 '문정여자고등학교': 37,
 '용남고': 38,
 '제주제일고등학교': 39,
 'International School of Manila': 40,
 '삼육간호보건대학': 41,
 '영주고등학교': 42,
 '마산무학여자고등학교': 43,
 'HANGZHOU XIAOSHAN NO.11 SENIOR HIGH SCHOOL': 44,
 '개포고등학교': 45,
 '수내고등학교': 46,
 '학점은행(대학과정)': 47,
 '도봉정보산업고등학교': 48,
 '서서울생활과학고등학교': 49,
 'Rio americano high school': 50,
 '역곡고등학교': 51,
 '혜원여자고': 52,
 '강남대학교': 53,
 '오현고': 54,
 '성만여자상업고': 55,
 '수도여자고': 56,
 '서원고등학교': 57,
 '양산제일고등학교': 58,
 '성덕고등학교': 59,
 '신현고등학교': 60,
 '화성반월고등학교': 61,
 '안강여자고등학교': 62,
 '양명고': 63,
 '부곡중앙고등학교': 64,
 '원곡고등학교': 65,
 '연세대학교(원주)': 66,
 '양지고등학교': 67,
 '하남경무직업학교': 68,
 '대구가톨릭대학교': 69,
 '분포고등학교': 70,
 '서울여상고': 71,
 '언남고': 72,
 '연천종합고': 73,
 '서울문화고등학교': 74,
 '대구남산여자고등학교': 75,
 '양영디지털고등학교': 76,
 '우송고등학교': 77,
 '옥련여자고등학교': 78,
 '태성고등학교': 79,
 'Nguyen Trai High school': 80,
 '中國石油天然氣管道中學': 81,
 '배정고등학교': 82,
 '원주여자고': 83,
 '염광여자정보산업공업': 84,
 '장흥실고': 85,
 '남문고등학교': 86,
 '설화고등학교': 87,
 '경주고등학교': 88,
 '목포여고': 89,
 '점촌고': 90,
 '장로회신학대학교': 91,
 '부광고등학교': 92,
 '거창대성고등학교': 93,
 '인천논현고등학교': 94,
 '북일여자고등학교': 95,
 '遼寧省東港市第三中學': 96,
 '신성고': 97,
 '영양고등학교': 98,
 '四川省成都市第四十九中學校': 99,
 '양주고등학교': 100,
 '서울-고등학교졸업학': 101,
 '울산고등학교': 102,
 '온양고등학교': 103,
 '서강고': 104,
 '경기자동차과학고등학교': 105,
 '보람고등학교': 106,
 '안성여자고등학교': 107,
 '역전고등학교': 108,
 '미림여자정보과학고등학교': 109,
 '동명여자고': 110,
 '포항중앙고등학교': 111,
 '마산상업고등학교': 112,
 '북경한국국제학교': 113,
 '건국대학교(서울)': 114,
 '부천여고': 115,
 '이화여자외국어고등학교': 116,
 '敦化市??中?': 117,
 '부천전문고': 118,
 '진해여자고등학교': 119,
 '대일여자정보산업고등': 120,
 '보평고등학교': 121,
 '정명고등학교': 122,
 '서초고': 123,
 '동주대학': 124,
 '그리스도대학교': 125,
 '은평고등학교': 126,
 '영주제일고등학교': 127,
 '진건고등학교': 128,
 'DONG THUY ANH': 129,
 '송곡관광고등학교': 130,
 '숭실대학': 131,
 '목포고등학교': 132,
 '주천고등학교': 133,
 'Tianchang No.3 Middle School': 134,
 '호곡고등 중학교': 135,
 'Concord': 136,
 '원주고': 137,
 'Hillcrest Highschool': 138,
 '세현고등학교': 139,
 '수원여고': 140,
 'st.patrick catholic school': 141,
 '여주여종고': 142,
 '세광고등학교': 143,
 '중산외국어고등학교': 144,
 '울산여자고': 145,
 '감리교신학대학교': 146,
 '서일대학': 147,
 '검정(서울)': 148,
 '부산디자인고등학교': 149,
 '화정고등학교': 150,
 'shandongshengweihai4zhong': 151,
 '교하고등학교': 152,
 '부천정보산업고등학교': 153,
 '병천고등학교': 154,
 '광명여자고등학교': 155,
 '부평디자인과학고등학교': 156,
 '인일여자고': 157,
 '퇴계원고': 158,
 '서울여자대학교': 159,
 '신천고등학교': 160,
 '극동정보대학': 161,
 '당진상업고등학교': 162,
 '미림여자전산공업고등': 163,
 'Shenyang private diocesan middle school': 164,
 '관동대학교': 165,
 '자양고등학교': 166,
 '삼척여자고': 167,
 '여량고등학교': 168,
 '양양고등학교': 169,
 '비봉고등학교': 170,
 '배화여자전문대학': 171,
 '신목고': 172,
 '와룡고등학교': 173,
 'FUSHUN LEIFENG SENIOR HIGH SCHOOL': 174,
 '송산고등학교': 175,
 '대림대학': 176,
 '진부고': 177,
 '성덕여자상업고등학교': 178,
 '풍문고등학교': 179,
 '수원과학대학': 180,
 '가락고': 181,
 '휘문고등학교': 182,
 '인화여고': 183,
 '成都市三原外國語學校': 184,
 '저현고등학교': 185,
 '성암여자상업고등학교': 186,
 '장안대학': 187,
 '청송고등학교': 188,
 '하동여자고등학교': 189,
 '부산중앙여자고': 190,
 'Los Angeles High School': 191,
 '대전가오고등학교': 192,
 '곡정고등학교': 193,
 '성동고': 194,
 '영화국제관광고등학교': 195,
 '경상대학': 196,
 '상문고등학교': 197,
 '상계고등학교': 198,
 '학남고등학교': 199,
 '영신고등학교': 200,
 '동덕여자대학': 201,
 '신림고': 202,
 'International School of Myanmar': 203,
 '강원고': 204,
 '면목고': 205,
 '창문여자고': 206,
 '이천양정여자종합고': 207,
 '경복여자고': 208,
 '연수여자고등학교': 209,
 '삼척고': 210,
 '양재고': 211,
 '목포해양대학교': 212,
 '서경대학교': 213,
 '화곡여자정보산업고등학교': 214,
 '邵&#38451;市第四中&#23398;': 215,
 '구정고': 216,
 '명지여자고': 217,
 '영동일고등학교': 218,
 '무학여자고등학교': 219,
 'Middle School of Jiaozuo No.4': 220,
 '서울다솜관광고등학교': 221,
 '혜명고등중학교': 222,
 '대신고': 223,
 '고성고등학교': 224,
 'Santo Domingo de Guzman': 225,
 '삼현여자고등학교': 226,
 '인일여고': 227,
 '한세대학교': 228,
 '빈국립음대': 229,
 '소산제일직업중등학교': 230,
 'ICHTHUS school': 231,
 '창원여자고등학교': 232,
 '대화고등학교': 233,
 '송탄여고': 234,
 '가천길대학': 235,
 '천안공업고등학교': 236,
 '수원간호고등학교': 237,
 '영등포고등학교부설방송통신고등학교': 238,
 '강원-고등학교졸업자격검정고시': 239,
 '대일외고': 240,
 'Qingyuan Shengxing Chinese and English School': 241,
 '제주여자고': 242,
 '임실고등학교': 243,
 '경안고': 244,
 '청북고등학교': 245,
 'Junction City High School': 246,
 '울산중앙여자고': 247,
 'Yunan Xijiang Senior High School': 248,
 '왕청현왕청제이중학': 249,
 '불암고등학교': 250,
 '上海市藥劑學校': 251,
 '명지외국어고등학교': 252,
 '광주중앙여자고': 253,
 '경성고': 254,
 '경문고': 255,
 'Pingdingshan No.1 Senior High School': 256,
 '서울맹학교': 257,
 '숙명여자고등학교': 258,
 '안화고등학교': 259,
 '명석고등학교': 260,
 '수원공업고등학교': 261,
 '울산스포츠과학고등학교': 262,
 '다사고등학교': 263,
 '동인천고': 264,
 '해성여자상업고등학교': 265,
 '시흥능곡고등학교': 266,
 '광운대학교': 267,
 '수지고등학교': 268,
 '음성고등학교': 269,
 '봉황고등학교': 270,
 '세종대학교': 271,
 '설악고등학교': 272,
 '경성고등학교': 273,
 '천안제일고등학교': 274,
 '광명여자고': 275,
 '단국대학교사범대학부': 276,
 '창원남고등학교': 277,
 '근명여자정보고등학교': 278,
 '대구예술대학교': 279,
 '전남외국어고': 280,
 '이천제일고등학교': 281,
 '四川省簡陽中學': 282,
 '광저우한국학교': 283,
 '덕성여고': 284,
 '해강고등학교': 285,
 '순천고등학교': 286,
 '현대여자고등학교': 287,
 'Mian Zhong Experimental School': 288,
 '대산고등학교': 289,
 '전북정읍호남고': 290,
 '고양국제고등학교': 291,
 '성지여고': 292,
 '계산여자고등학교': 293,
 '문영여자고': 294,
 '산마을고등학교': 295,
 '이병시 영걸실험외국어학교': 296,
 '명지대학': 297,
 '상명사대부속여자고': 298,
 'Mahendra Secondary School, Pokhara, Kaski': 299,
 '충현고등학교': 300,
 '발곡고등학교': 301,
 '잠실여자고': 302,
 '동아방송대학': 303,
 '순천효천고등학교': 304,
 '소명여고': 305,
 '선정관광고등학교': 306,
 '청주외국어고등학교': 307,
 'Colstrip High School': 308,
 'Qingyuan No.2 Middle School': 309,
 '용호고등학교': 310,
 'Rancho Cucamonga High School': 311,
 '성심여자고등학교': 312,
 '현풍고등학교': 313,
 '인천중앙여자상업고등': 314,
 '울산-고등학교졸업학': 315,
 '인헌고': 316,
 '함백종합고등학교': 317,
 '성창여자고등학교': 318,
 '수원외국어고등학교': 319,
 '한일고등학교': 320,
 '김해영운고등학교': 321,
 'carrollton christian academy': 322,
 '순천고': 323,
 '신광여자고': 324,
 '운정고등학교': 325,
 '목포혜인여자고등학교': 326,
 '부용고등학교': 327,
 '청량고등학교': 328,
 '중국산동 중의약대': 329,
 '장안전문대학': 330,
 '호남제일여자고등학교': 331,
 '성의고등학교': 332,
 '정석항공과학고등학교': 333,
 '곤지암고등학교': 334,
 '태원시 신흥 고등학교': 335,
 '신경여자상업고등학교': 336,
 '금산고': 337,
 '경북-고등학교졸업자격검정고시': 338,
 'RamkhamhaengAdventInternationalSchool': 339,
 '명일여고': 340,
 '여천고등학교': 341,
 '중대부여고': 342,
 '이리남성여자고등학교': 343,
 '미추홀외국어고등학교': 344,
 '서울대학교사범대학부설고등학교': 345,
 '오류고등학교': 346,
 '해운대고등학교': 347,
 '고려대학교 병설 보': 348,
 '동국대학교': 349,
 '고잔고등학교': 350,
 '안산1대학': 351,
 '경산고등학교': 352,
 '충북여자고등학교': 353,
 '금정고등학교': 354,
 '초당대': 355,
 '남원여자고등학교': 356,
 '건국대학교': 357,
 '덕원여자고': 358,
 'Liaoxi Yuming Senior High School': 359,
 '고려대 병설 보건대': 360,
 '공항고등학교': 361,
 '서운고등학교': 362,
 'Pukekohe high school': 363,
 '대일고등학교': 364,
 '선부고등학교': 365,
 '인천연송고등학교': 366,
 '고양예술고등학교': 367,
 '오천고등학교': 368,
 '동덕여자고': 369,
 '재능대학': 370,
 '한국방송통신대학교': 371,
 '대전실업전문대학': 372,
 '오산대학': 373,
 '경민정보산업공업고등': 374,
 '本溪市第二高?中?': 375,
 '송곡여자고등학교': 376,
 '충주산업대학': 377,
 '충남외국어고등학교': 378,
 '인천가톨릭대학교': 379,
 'PHA LAI': 380,
 '동명생활경영고등학교': 381,
 '백석고': 382,
 '동우전문대학': 383,
 '경북예술고등학교': 384,
 '신도림고등학교': 385,
 '김천고등학교': 386,
 '상지영서대학': 387,
 '계남고': 388,
 'Guangzhou Siyuan North Campus': 389,
 '이화여자대학': 390,
 '유한대학': 391,
 '충원고등학교': 392,
 '대구-고등학교졸업학': 393,
 '금산여자고등학교': 394,
 '영천성남여자고등학교': 395,
 '성문여자고등학교': 396,
 '화홍고등학교': 397,
 '제주중앙고등학교': 398,
 '배화여자전문': 399,
 '영월고등학교': 400,
 '온수고': 401,
 '울산대학교': 402,
 '남목고등학교': 403,
 '계성여고': 404,
 '군산여자고등학교': 405,
 '신성고등학교': 406,
 '가락고등학교': 407,
 '문산종고': 408,
 '부천전문': 409,
 '충주산업대학교': 410,
 '대원고': 411,
 '영란여상고': 412,
 '상지전문대학': 413,
 '전주대학교': 414,
 '서경대학': 415,
 '양현고등학교': 416,
 '성결대학': 417,
 '마산중앙고등학교': 418,
 '충남-고등학교졸업자': 419,
 '대구남산여고': 420,
 '단원고등학교': 421,
 '성일정보고등학교': 422,
 '제주한라대학': 423,
 'Zhaoqing Foreign Language School attached to Guangdong Unive': 424,
 '국립한경대학교': 425,
 '상명사대부여고': 426,
 'Vientiane International School': 427,
 '파주여자종합고등학교': 428,
 '목포여자고등학교': 429,
 '동주여자상업고등학교': 430,
 '용성시광명고등학교': 431,
 '외국고등학교': 432,
 '광주고등학교': 433,
 '부천공업고등학교': 434,
 '순천향대학교': 435,
 '위례상고': 436,
 '전남-고등학교졸업학': 437,
 '충칭시 제7중학교': 438,
 '마송고등학교': 439,
 '안동여자고': 440,
 '옥과고등학교': 441,
 '포항여고': 442,
 '하남교통직업기술학교': 443,
 '장성여자상업고등학교': 444,
 '성환고': 445,
 '계원예술고': 446,
 '창명여자종합고등학교': 447,
 '세종과학고등학교': 448,
 '군산여자고': 449,
 '후포고등학교': 450,
 '중국상해한국학교': 451,
 '경남-고등학교졸업학': 452,
 '장훈고': 453,
 '한밭고등학교': 454,
 'First Baptist School': 455,
 '인하대사대부고': 456,
 '명덕여고': 457,
 '명성여자고교': 458,
 'Panjin Liaohe Oilfield NO.3 high School': 459,
 '점촌고등학교': 460,
 '大良高中': 461,
 '안산디자인문화고등학교': 462,
 '성신여자고등학교': 463,
 '현대청운고등학교': 464,
 '제주대학': 465,
 '양동고등학교': 466,
 '황간고등학교': 467,
 '덕수상고': 468,
 '삼육의명대학': 469,
 '상명대학교사범대학부': 470,
 '조장시 제1고등학교': 471,
 '춘천여자고등학교': 472,
 '부산-고등학교졸업자격검정고시': 473,
 '성남고등학교': 474,
 '외국고': 475,
 '청주과학대학': 476,
 '광천고등학교': 477,
 '군포중앙고등학교': 478,
 '경희여고': 479,
 '제주-고등학교졸업자격검정고시': 480,
 '삼괴종고': 481,
 '나주여자고등학교': 482,
 'Chengdu Aerospace Middle School': 483,
 '종촌고등학교': 484,
 '서울여자상업고': 485,
 '전남여자상업고등학교': 486,
 '경동고등학교': 487,
 '원광여상고': 488,
 '삽교고등학교': 489,
 'King‘s Egehill School': 490,
 '성남외국어고등학교': 491,
 '성신여고': 492,
 '대전구봉고등학교': 493,
 '일산동고등학교': 494,
 '계양고등학교': 495,
 '이리여자고등학교': 496,
 '김해삼문고등학교': 497,
 '대전복수고등학교': 498,
 '청심국제고등학교': 499,
 '한국관광고등학교': 500,
 '상주고등학교': 501,
 'Puning New World international School': 502,
 '동북고등학교': 503,
 '인천여자고등학교': 504,
 '명지전문대': 505,
 '부평고등학교': 506,
 '충암고': 507,
 '리라공업고등학교': 508,
 'GUANGZHOU JUDICIAL SCHOOL': 509,
 '충청대학': 510,
 '안양여고': 511,
 '고려고등학교': 512,
 '호남제일고등학교': 513,
 '남성고': 514,
 '고림고등학교': 515,
 '벽성고등학교': 516,
 '안산여자정보고등학교': 517,
 '분당영덕여자고등학교': 518,
 '남서울 대학': 519,
 '이화여자외국어고': 520,
 '신갈고등학교': 521,
 '부산진여자고등학교': 522,
 '서울삼육고등학교': 523,
 '진해세화여자고등학교': 524,
 '화곡여자정보산업고등': 525,
 '영남신학대학교': 526,
 '부산계성여자상업고': 527,
 '부산산업과학고등학교': 528,
 '통영여자고등학교': 529,
 '정선여고': 530,
 '신구대학교': 531,
 '예당고등학교': 532,
 '백영고등학교': 533,
 '우송대학교': 534,
 'MAZ Intenational School': 535,
 '중대부고': 536,
 '삼척고등학교': 537,
 '경복여자정보산업고': 538,
 '동지여자고등학교': 539,
 '강일여자고등학교': 540,
 '청강문화산업대학': 541,
 '정명여자상업고등학교': 542,
 '조선이공대학': 543,
 'Oxford High School': 544,
 '경기체육고등학교': 545,
 '동일여자전산디자인고': 546,
 '포항예술고등학교': 547,
 '문영여자': 548,
 '재현고등학교': 549,
 '영파여자고': 550,
 '대구효성가톨릭대학': 551,
 '대전과학고등학교': 552,
 '군산대학': 553,
 '영진고등학교': 554,
 '광영여고': 555,
 '자카르타한국국제학교': 556,
 '가정고등학교': 557,
 '한양여자대학': 558,
 '제일고등학교': 559,
 '명신고등학교': 560,
 '덕소고등학교': 561,
 '인천초은고등학교': 562,
 'SHENZHEN OXSTAND INTERNATIONAL  SCHOOL': 563,
 '대전괴정고등학교': 564,
 '서울-고등학교졸업학력검정고시': 565,
 '이화여자고': 566,
 '광동고등학교': 567,
 '신라대학': 568,
 '명성여자고': 569,
 '경인여자대학': 570,
 '한양공업고등학교': 571,
 '치악고등학교': 572,
 'YIXIANXUBOGAOJIZHONGXUE': 573,
 'NARAN HIGH SCHOOL': 574,
 '국제디지털대학교': 575,
 '대련한국국제': 576,
 '신흥대학': 577,
 '창원토월고등학교': 578,
 '하나고등학교': 579,
 '세명컴퓨터고등학교': 580,
 '서울대학교사범대학부': 581,
 '금산고등학교': 582,
 '현일고등학교': 583,
 '강원사대부속고': 584,
 '봉명고등학교': 585,
 '한서고': 586,
 '선정고': 587,
 '대천여고': 588,
 '가재울고등학교': 589,
 '영동고': 590,
 '대덕고등학교': 591,
 '강남영상미디어고등학교': 592,
 'Haibin Nangang High School': 593,
 '運城市康杰中學': 594,
 '경남예술고등학교': 595,
 '한국애니메이션고등학교': 596,
 '서현고': 597,
 '포산고등학교': 598,
 '부산동고등학교': 599,
 '정명고': 600,
 '신탄진고등학교': 601,
 '여수충무고등학교': 602,
 '삼평고등학교': 603,
 'siliqingdaohaishanxuexiao': 604,
 '연길시현대직업기술학교': 605,
 '평촌정보산업고등학교': 606,
 '충북예술고등학교': 607,
 '충암고등학교': 608,
 '전주예술고등학교': 609,
 '풍문여자고등학교': 610,
 '구리고등학교': 611,
 '고려대학교병설보건대': 612,
 '한국게임과학고등학교': 613,
 '호남고등학교': 614,
 '예림디자인고등학교': 615,
 '효성고등학교': 616,
 '서울신학대학교': 617,
 '용문고등학교': 618,
 '두호고등학교': 619,
 '성남서고등학교': 620,
 '인천예일고등학교': 621,
 '석관고등학교': 622,
 '보인고등학교': 623,
 '광운전자공업고등학교': 624,
 'Guangzhou Medical Vocational School': 625,
 '초당고등학교': 626,
 '오산고': 627,
 '本溪市第四高?中?': 628,
 '경화여자e비즈니스고등학교': 629,
 '나주공업고등학교': 630,
 '서라벌고': 631,
 'Kunshan Economic & Technical Development Zone International': 632,
 '인천인일여고': 633,
 '완도고등학교': 634,
 '일신여자고': 635,
 '울산여자고등학교': 636,
 'Affiliated Middle School of Henan Normal University': 637,
 '한인고등학교': 638,
 '합덕여자고등학교': 639,
 '울산-고등학교졸업학력검정고시': 640,
 '인덕대학교': 641,
 '대전대학': 642,
 '박문여고': 643,
 '부천북': 644,
 '대성여자상업고등학교': 645,
 '大?市第二十五中?': 646,
 'Trung hoc pho thong hong quang': 647,
 '인천외국어고등학교': 648,
 '세일고등학교': 649,
 '경일대학교': 650,
 '성서고등학교': 651,
 '분당중앙고등학교': 652,
 '창원사파고등학교': 653,
 '한일여자고등학교': 654,
 '영화여자상업고등학교': 655,
 '전주영생고등학교': 656,
 '전북대학교사범대학부': 657,
 '고려대학교(서울)': 658,
 '경기고등학교': 659,
 '부평여자상업고': 660,
 '광영고': 661,
 '도계고등학교': 662,
 'Xining City No.3 Middle School': 663,
 '구암고등학교': 664,
 '동국사대부속고': 665,
 '조선대여고': 666,
 '초당대학교': 667,
 '공주대학교사범대학부': 668,
 '서귀포여고': 669,
 '진위상고': 670,
 '수도여고': 671,
 '전주고등학교': 672,
 '신정여상고': 673,
 'HARBINSHIPPINGSCHOOL': 674,
 '광문고': 675,
 '부평공업고등학교': 676,
 '군산영광여고': 677,
 '인천여자고': 678,
 '인일여자고등학교': 679,
 '경상고등학교': 680,
 '영해여자상업고등학교': 681,
 '충청북도지구 합격': 682,
 '문창고': 683,
 '범박고등학교': 684,
 '동래여자고등학교': 685,
 '상명사대부속고': 686,
 '호서고': 687,
 '단국대학교사범대학부속고등학교': 688,
 '동인천고등학교': 689,
 '휘봉고등학교': 690,
 '동탄국제고등학교': 691,
 '평촌고': 692,
 '효성여상고': 693,
 'EIB-The Victor Hugo School': 694,
 '밀성고등학교': 695,
 '선화예고': 696,
 '하남경영고등학교': 697,
 '태전고등학교': 698,
 '삼량종합고등학교': 699,
 '대원외국어고': 700,
 'GUANGZHOU SIYUAN SCHOOL': 701,
 '사내고': 702,
 '동명여고': 703,
 '양산남부고등학교': 704,
 '대구상원고등학교': 705,
 '의정부고등학교': 706,
 '공주영명고등학교': 707,
 'Shenyang No. 1 Private Senior High School': 708,
 'JILIN CITY NO.1 HIGH SCHOOL': 709,
 'SHENGXING CHINESE AND ENGLISH SCHOOL.QINGYUAN': 710,
 '時代高中': 711,
 '광주진흥고등학교': 712,
 '대홍단5호 고등중학교': 713,
 '덕수정보산업고': 714,
 '부산관광고등학교': 715,
 '용암고등중학교': 716,
 '고색고등학교': 717,
 '전주근영여자고등학교': 718,
 '인천기계공업고': 719,
 '산본고등학교': 720,
 '동덕여자고등학교': 721,
 '정읍여자고등학교': 722,
 '대원여고': 723,
 '대진고': 724,
 '경복여상고': 725,
 '선주고등학교': 726,
 'Pioneer Junior College': 727,
 '운암고등학교': 728,
 '금오공업고등학교': 729,
 '성심여자대학교': 730,
 '덕신고등학교': 731,
 '오송고등학교': 732,
 '복자여고': 733,
 '이리공업고등학교': 734,
 'Suizhou shi di yi zhong xue': 735,
 'Pentagon International school': 736,
 '운양고등학교': 737,
 '지산고등학교': 738,
 'Guangzhou judicial vocational school': 739,
 '도초고등학교': 740,
 '천안고': 741,
 '안산국제비즈니스고등학교': 742,
 '대전고': 743,
 '대광고': 744,
 '마산제일고등학교': 745,
 '인천재능대학': 746,
 'GANGYUANZHONGXUE': 747,
 '숭문고': 748,
 '남녕고': 749,
 '강원도 금강군 속사리 속사중학교': 750,
 '인창고등학교': 751,
 '덕원고등학교': 752,
 '청석고등학교': 753,
 '김천여자고등학교': 754,
 '명덕외고': 755,
 '숭의고등학교': 756,
 'Burnaby Mountain Secondary School': 757,
 '덕원여고': 758,
 '압구정고등학교': 759,
 '동호정보고등학교': 760,
 '선문대학교': 761,
 '서대전고등학교': 762,
 '백송고등학교': 763,
 '대부종합고등학교': 764,
 '항성시정태보문학교': 765,
 '용산고등학교': 766,
 '범서고등학교': 767,
 '경기모바일과학고등학교': 768,
 '군산중앙여자고등학교': 769,
 '영덕여자고등학교': 770,
 '이화여자대학교사범대학부속이화금란고등학교': 771,
 'TRUNG HOC PHO THONG VINH LOC': 772,
 '혜원여고': 773,
 '용인한국외국어대학교부설고등학교': 774,
 '삼광고등학교': 775,
 '봉평고등학교': 776,
 '신광여자고등학교': 777,
 'Shanghai United Bilingual High School': 778,
 '창현고등학교': 779,
 '연길시 제2고급중학교': 780,
 '서문여자고': 781,
 '정원고등학교': 782,
 '천천고등학교': 783,
 '문일여자고등학교': 784,
 '대전-고등학교졸업자격검정고시': 785,
 '매원고등학교': 786,
 'CHENGDU YULIN HIGH SCHOOL SHIYANG CAMPUS': 787,
 '신일비즈니스고등학교': 788,
 'Gloucester High School': 789,
 '대아고등학교': 790,
 'THPT Thuy Son': 791,
 '남강고등학교': 792,
 '우신고': 793,
 '국립의료원간호대학': 794,
 '河北省承德市圍場縣卉原中學': 795,
 '신남고등학교': 796,
 '동두천중앙종합고등학': 797,
 '군산동고등학교': 798,
 '한국철도대학': 799,
 '목천고등학교': 800,
 '쌔들리버데이스쿨': 801,
 '명지전문대학': 802,
 '이충고등학교': 803,
 '협성대학교': 804,
 'Chengdu Summit International School': 805,
 '경북외국어고등학교': 806,
 '부여고등학교': 807,
 '인동고등학교': 808,
 '송도고등학교': 809,
 '나사렛대학': 810,
 '서울세종고': 811,
 'Qingdao Chungwoon Korean School': 812,
 '한별고등학교': 813,
 '대명여고': 814,
 '고양실업고등학교(2년제)': 815,
 '영송여자고등학교': 816,
 'MY DUC B high school': 817,
 '부천대': 818,
 '남서울대학교': 819,
 '선정고등학교': 820,
 '예일여자고': 821,
 '신명여고': 822,
 '보문고등학교': 823,
 '살레시오고등학교': 824,
 '송곡고': 825,
 '대전지족고등학교': 826,
 '國立華僑實驗高級中學': 827,
 '여주고등학교': 828,
 '상모고등학교': 829,
 'Suva Christian Community High School': 830,
 '봉의고등학교': 831,
 '인하대학교': 832,
 'Antu County Np.1 Senior High School': 833,
 '백석고등학교': 834,
 'Sichuan city Technician College': 835,
 '영신여자고등학교': 836,
 '양곡종합고등학교': 837,
 '온양용화고등학교': 838,
 '경북여자고등학교': 839,
 '청송여종고': 840,
 '해성국제컨벤션고등학교': 841,
 'Christchurch Boys High School': 842,
 '충주중산고등학교': 843,
 '영등포여상고': 844,
 '인천지구 합격': 845,
 'Qingyuan No.1 Senior High School': 846,
 'Peking university affiliated experimental school Fushun heng': 847,
 'Changsha Yiya Middle School': 848,
 '함평고등학교': 849,
 '대구가톨릭대학교사범': 850,
 '환일고등학교': 851,
 '산서고등학교': 852,
 '쌘뽈여고': 853,
 'Jiaozhou Experimental Middle School': 854,
 '강원대학': 855,
 '안산전문대': 856,
 '제천고': 857,
 '인천진산과학고등학교': 858,
 '배재고등학교': 859,
 '대덕고': 860,
 '목포대학': 861,
 '신진과학기술고등학교': 862,
 '비전고등학교': 863,
 '신철원종고': 864,
 '大??立高中': 865,
 '가운고등학교': 866,
 '서울디자인고등학교': 867,
 '해룡고': 868,
 '진위고등학교': 869,
 '광명경영회계고등학교': 870,
 '반포고등학교': 871,
 '한양대학교(안산)': 872,
 'DAO DUY TU': 873,
 'Hangzhou Xiaoshan No.2 Secondary Vocational School': 874,
 '경산대학교': 875,
 '충훈고등학교': 876,
 '동산고': 877,
 '대전여자고등학교부설': 878,
 '이대부고': 879,
 '용문종합고등학교': 880,
 '장항고등학교': 881,
 '부산강서고등학교': 882,
 '부산-고등학교졸업학력검정고시': 883,
 '보성여고': 884,
 '정의여자고등학교': 885,
 '한서대학교': 886,
 '우성고등학교': 887,
 '수원정보산업공업고등': 888,
 '한겨레고등학교': 889,
 '경남고등학교': 890,
 '동우여고': 891,
 '부산동성고등학교': 892,
 '무학고등학교': 893,
 '김화고등학교': 894,
 '호원대학교': 895,
 '과천여고': 896,
 '학다리고등학교': 897,
 '효자고등학교': 898,
 '대진디자인고등학교': 899,
 '은광여자고': 900,
 'GUANGDONG JIANGMEN CHINESE MEDICAL SCHOOL': 901,
 '경기경영고등학교': 902,
 '충무고등학교': 903,
 'Taizhou city Jiangyan District Xinshiji Wushu Art School': 904,
 '광영여자고등학교': 905,
 '한영외국어고등학교': 906,
 '부산외국어고등학교': 907,
 '선일여고': 908,
 '돌마고등학교': 909,
 '숭주시 숭경고등학교': 910,
 '김해중앙여자고등학교': 911,
 'International Gateway Academy': 912,
 '광주제일고등학교': 913,
 '광성고': 914,
 '울산제일고등학교': 915,
 '검정(전남)': 916,
 'KINH MON': 917,
 '무룡고등학교': 918,
 '간디학교': 919,
 '양서고등학교': 920,
 '용인고': 921,
 '진안제일고등학교': 922,
 '군자공업고등학교': 923,
 '구리여고': 924,
 '산남고등학교': 925,
 '대전동산고등학교': 926,
 '충렬여자상업고': 927,
 '서울-고등학교졸업자격검정고시': 928,
 '춘천여자고': 929,
 '운천고등학교': 930,
 '안계고등학교': 931,
 '한가람고등학교': 932,
 '잠실고등학교': 933,
 '공주고등학교': 934,
 '양재고등학교': 935,
 '대영고등학교': 936,
 '방송대학': 937,
 '경동대학교': 938,
 '성지여자고등학교': 939,
 '오산덕고등중학교': 940,
 '거제옥포고등학교': 941,
 'Wichita Collegiate School': 942,
 'chongqing furen middle school': 943,
 '안양공업고등학교': 944,
 '순창제일고등학교': 945,
 '동아고등학교': 946,
 '중국 장춘시11고등학교': 947,
 'daliankaifaqudibagaojizhongxue': 948,
 '동해대학교': 949,
 '인하공업전문대': 950,
 '충주고등학교': 951,
 '정의여고': 952,
 '한양여자대학교': 953,
 '부흥고': 954,
 '제주제일고': 955,
 'HANGZHOU XIAOSHAN NO.1 SECONDARY VOCATIONAL SCHOOL': 956,
 '영생고등학교': 957,
 '서울예술대학': 958,
 '이화여자대학교병설금': 959,
 '일본 철로북 고교': 960,
 '사직고등학교': 961,
 '대련풍엽국제학교': 962,
 '울산외국어고등학교': 963,
 '명지고등학교': 964,
 '서산여자고등학교': 965,
 '정선고등학교': 966,
 '동일여자전산상업고': 967,
 '인천효성고등학교': 968,
 '서대전여자고등학교': 969,
 '반송고등학교': 970,
 'Bayridge Secondary School': 971,
 '대구공업고': 972,
 '하양여자고등학교': 973,
 '인하공업전문대학': 974,
 '숙명여고': 975,
 '용화여고': 976,
 '계성여자고등학교': 977,
 '山西省晋城市第一中&#23398;校': 978,
 '진명여자고등학교': 979,
 '숙지고등학교': 980,
 '잠실여고': 981,
 '서초고등학교': 982,
 '한양여대': 983,
 '광남고': 984,
 'International School of Prague': 985,
 '강서고등학교': 986,
 '홍익대학교사범대학부': 987,
 '인천예술고등학교': 988,
 '경북대학교사범대학부설고등학교': 989,
 '예천여자고등학교': 990,
 '이매고등학교': 991,
 '중앙여고': 992,
 '동백고등학교': 993,
 '조종종합고': 994,
 '방산고등학교': 995,
 '대경상업고등학교': 996,
 '서서울정보산업고': 997,
 '황지여자상업고등학교': 998,
 '문성여자상업고등학교': 999,
 '경북대학교': 1000,
 ...}

In [ ]:
#이거랑 이거 위에랑 뭐가 다른지 확인하기
df['출신고교인덱스'] = '0'
for i in range(len(df)):
  a = df['출신고교_전처리'][i]
  df['출신고교인덱스'][i] = dic[a]

df['출신고교인덱스']

KeyboardInterrupt: ignored

3. 모델 돌려보기

In [ ]:
#데이터 인덱스 값으로 바꾸거나 모델에 넣을 수 있도록 바꾸기
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

df = pd.read_csv("/content/drive/MyDrive/AI선배/출신고교_지역_전처리최종_0508.csv") #csv 파일 불러오기

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)


# 잘못 들어온 열 'Column1' 제거 -> 이거 뭐지?/ 민우한테 물어보기
#df = df.drop(['Column1'], axis='columns')
# 학생구분번호 제거
df = df.drop(['학생구분번호'], axis='columns')
# 국적 제거
df = df.drop(['국적'], axis='columns')
# 출신고교 제거
df = df.drop(['출신고교'], axis='columns')
# 출신고교지역 제거
df = df.drop(['출신고교지역'], axis='columns')

## 문자열 -> 수치화 ##
# 학부/과코드, 제1전공코드, 제2전공코드(M 빼기)
df['학부/과코드'] = df['학부/과코드'].str.replace('M','')
df['제1전공코드'] = df['제1전공코드'].str.replace('M','')
df['제2전공코드'] = df['제2전공코드'].str.replace('M','')
# 입학구분
change_value_dict = {'신입': 0,'편입': 1}
df = df.replace({'입학구분': change_value_dict})
# 학기 인덱스 주기
df['학기인덱스'] = '0'
m = []
m = df['학기'].values
m = set(m)
m = list(m)
dic_hak = {}
for k in range(len(m)):
   e = str(m[k])
   dic_hak[e] = k + 1
for p in range(len(df)):
  g = df['학기'][p]
  df['학기인덱스'][p] = dic_hak[g]
# 입학전형구분
country_from = list(set(df['입학전형구분'].to_list()))
num = 0
for key in country_from :
  change_value_dict = {key : num}
  df = df.replace({'입학전형구분': change_value_dict})
  num += 1
# 출신고교 인덱스 주기
df['출신고교인덱스'] = '0'
l = []
l = df['출신고교_전처리'].values
l = set(l)
l = list(l)
dic_school = {}
for i in range(len(l)):
   a = str(l[i])
   dic_school[a] = i + 1
for i in range(len(df)):
  c = df['출신고교_전처리'][i]
  df['출신고교인덱스'][i] = dic_school[c]
# 출신지역 인덱스 주기
df['출신고교지역인덱스'] = '0'
s = []
s = df['출신고교지역_전처리'].values
s = set(s)
s = list(s)
dic_region = {}
for i in range(len(s)):
   b = str(s[i])
   dic_region[b] = i + 1
for j in range(len(df)):
  d = df['출신고교지역_전처리'][j]
  df['출신고교지역인덱스'][j] = dic_region[d]
# df[col] = df[col].applymap({'value':'0', 'va'})

#df = df.astype('float32') -> 숫자형태로 왜 했어?
df.dtypes

년도              int64
학기             object
생년              int64
성별              int64
학부/과코드         object
제1전공코드         object
제2전공코드         object
학년              int64
이수학기            int64
입학년도            int64
입학구분            int64
입학전형구분          int64
신청학점            int64
이수학점            int64
평균평점          float64
동아리             int64
장학금             int64
봉사활동시간          int64
학술활동            int64
교환학생(기간)        int64
전공성적평균        float64
교양성적평균        float64
기타성적평균        float64
공통_영어평균       float64
공통_종교평균       float64
공통_팀플평균       float64
공통_봉사평균       float64
공통_1학년과목평균    float64
label           int64
출신고교_전처리       object
출신고교지역_전처리     object
학기인덱스          object
출신고교인덱스        object
출신고교지역인덱스      object
dtype: object

In [ ]:
#df = df.astype('float32')
#df.dtypes

ValueError: ignored

In [ ]:
df
df.to_csv("220508_전처리최종_ai선배_v2.0_노수민.csv")